<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Locações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let tenancy of tenancys">
      <ion-label>
        {{tenancy.location}} - {{tenancy.render}}
      </ion-label>
      <ion-icon name="create" slot="end" [routerLink]="['../edit', tenancy.id]"></ion-icon>
      <ion-icon name="trash" slot="end" (click)="remove(tenancy)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button [routerLink]="['../register']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>